<div class="row" ng-init="fetchUser()">
  <div class="col-md-2">
    <img src="avatar.jpeg" class="avatar" />
  </div>

  <div class="col-md-10">
    <h1 ng-hide="edit">{{user.name}}</h1>
    <input ng-show="edit" type="text" class="form-control" ng-model="user.name" />

    <div class="btn-container">
      <button class="btn btn-primary" ng-hide="edit" ng-click="editUser()">Edit</button>
      <button class="btn btn-success" type="submit" ng-show="edit" ng-click="updateUser(user)">Save</button>
    </div>

    <table class="table">
      <thead>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
      </thead>
      <tbody>
        <td ng-hide="edit">{{user.username}}</td>
        <td ng-show="edit"><input type="text" class="form-control" ng-model="user.username" /></td>
        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
        <td>{{user.phone}}</td>
        <td><a href="http://{{user.website}}" target="_blank">{{user.website}}</a></td>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="well">
      <h2>{{user.company.name}}</h2>
      <h3>{{user.company.catchPhrase}}</h3>
      <p>
        {{user.company.bs}}
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <p>
      {{user.address.street}}<br />
      {{user.address.suite}}<br />
      {{user.address.city}} {{user.address.zipcode}}
    </p>

    <p>
      Geo: ({{user.address.geo.lat}}, {{user.address.geo.lng}})
    </p>
  </div>
</div>

<hr />

<h3>Recent Posts by {{user.username}}</h3>

<div class="row" ng-if="recentPosts.length == 0">
  <div clas="col-md-12">
    <h2>No recent posts.</h2>
  </div>
</div>

<div class="row" ng-repeat="post in recentPosts">
  <div class="col-md-12">
    <h2><a href="#/posts/{{post.id}}">{{post.title}}</a></h2>
  </div>
</div>
