.navbar-brand {
  font-family: "Mr Dafoe", cursive;
  font-size: 48px;
}

.content-wrap {
  max-width: 1000px;
  margin: auto;
}

.avatar {
  width: 150px;
  height: 150px;
}

.btn-container {
  position: absolute;
  right: 0;
  top: 20px;
}

.form-control {
  max-width: 200px;
}
